body{
    background: url('https://image.freepik.com/foto-gratis/fondo-textura-efecto-falla-negra_53876-126693.jpg') no-repeat center fixed;       
    background-size: cover;
}

img{
    height: 250px;
    object-fit: contain;
}

#hover-pulse{
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}
#hover-pulse:hover{
	animation: pulse;
	animation-duration: 2s;
}

#container{
    margin-top: 5rem;
    margin-left: 25rem;
    margin-right: 30rem;
font-size: large;}

.btn{
    margin-left: 3rem
}

ul{
    list-style: none;
}

#information{
    color: whitesmoke;
}

